<header th:fragment="header">
    	<link rel="stylesheet" th:href="@{/css/palette.css}">
    	<link rel="stylesheet" th:href="@{/css/header.css}">
        <div class="header-container">
            <div class="logo">
                <img class="logo" th:src="@{/images/logo.png}" alt="logo">
            </div>

            <nav class="main-nav">
                <a th:href="@{/}">Accueil</a>
                <a th:href="@{/categorie/ordinateur}">Pc Fix</a>
                <a th:href="@{/categorie/Ordinateur_de_bureau }">Ordinateur de bureau</a>
                <a th:href="@{/categorie/téléphone}">Téléphone</a>
            </nav>

            <div class="actions">
                <a th:href="@{/account}">
                	<div class="icon">
                		<img th:src="@{/images/user.png}" alt="Utilisateur">
                	</div>
                </a>
                <a th:href="@{/panier}">
                    <div class="icon">
                		<img th:src="@{/images/panier.png}" alt="Panier">
                    </div>
                </a>
            </div>
        </div>
</header>
