<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Présentation du produit</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="product-card">
        <div class="product-image">
            <img src="https://www.yesss-fr.com/produits/89218/photos/89218-NSYSDH.jpg" alt="Image du produit">
        </div>

        <div class="product-info">
            <h3 class="product-name"
                        th:text="${product.name}">
                        Nom produit
                    </h3>

            <p class="product-specs"
                       th:text="${product.description}">
                        Description produit
             </p>
                    
             	 <div class="product-price">
                 <span th:text="${product.price}">0.00 €</span>
                 </div>

            <button class="product-button">
                Ajouter au panier
            </button>
        </div>
    </div>

</body>
</html>
